<%= render "layouts/header" %>

<div class="container page-content">
<form method="post" action="/create">
    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="description" placeholder="description"><br>
    <input type="text" name="image" placeholder="image"><br>
    <input type="submit" class="btn">
</form>
</div>

<%= render "layouts/footer" %>
